/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END CSS RESET */



@font-face {
    font-family: 'MyriadProRegular';
    src: url("../fonts/MYRIADPRO-REGULAR.OTF");
}

@font-face {
    font-family: 'RobotoBold';
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: 'RobotoMedium';
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: 'RobotoLight';
    src: url("../fonts/Roboto-Light.ttf");
}


a:hover, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}

button:focus, input[type="submit"]:focus {
    outline: none;
}

.fluid {
    display: table;
    width: 100%;
    height: 100vh;
    background-color: #ecf0f1;
}

.nav-container {
    display: table-cell;
    vertical-align: top;
    background-color: #34495e;
    width: 250px;
    height: 100vh;
    position: relative;
}

.data-container {
    width: 100%;
    background-color: #ecf0f1;
    display: block;
}

.logo-container {
    background-color: #2ecc71;
    width: 250px;
    height: 120px;
    text-align: center;
    line-height: 120px;
}

.logo-container img {
    vertical-align: middle;
    height: 47px;
}

.user-img {
    width:60px;
    height: 60px;
    display: inline-block;
    margin-top: 25px;
    border-radius: 55px 63px 63px 55px;
    border: 4px solid #2ecc71;
}

.user-info {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
    margin-left: 30px;
    font-family: MyriadProRegular, sans-serif;
    font-size: 24px;
}

.working-status {
    font-size: 12px;
    font-family: MyriadProRegular, sans-serif;
    margin-top: 10px;
    margin-left: 4px;
}

.navigation {
    margin-top: 34px;
}

.user-content h4 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    font-family: RobotoBold, sans-serif;
}


.navigation ul li a, .management-nav ul li a {
    display: block;
    color: #95a5a6;
    text-align: left;
    padding: 15px 15px 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 16px; 
    font-family: RobotoBold, sans-serif;
}

.navigation ul li a:hover, .navigation ul li a.active {
    background-color: #213549;
    border-bottom: 4px solid #131f2d;
    padding-bottom: 11px;
    color: #2ecc71;
}
.navigation ul li a:hover > .material-icons, .active > .material-icons  {
    color: #2ecc71;
    border: 3px solid #2ecc71;
}

.navigation ul li a:hover > span.fa-home, .active > span.fa-home  {
    color: #2ecc71;
    border: 3px solid #2ecc71;
}

.hidden {
    display: none;
}

.ui-accordion-header {
    outline: none;
}

.user-container {
    overflow:hidden;
    height: 120px;
}

.user-content {
    float: left;
    margin-left: 40px;
   
}

.logout {
    padding: 20px;
    float: right;
    line-height: 90px;
    font-size: 12px;
    color: #2ecc71;
    font-family: RobotoMedium, sans-serif;
    margin-right: 20px;
}

.logout:hover {
    cursor: pointer;
    color: #2ecc71;
    text-decoration: none;
}

.main-content {
    background-color: #ecf0f1;
    padding: 0 40px;
    margin: 0 auto;
    display: block;
}

.breadcrumbs {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: 35px;
    width: 100%;
    font-family: MyriadProRegular, sans-serif;
}

.app-name {
    float: left;
    color: #889495;
    line-height: 32px;
    margin-left: 40px;
    font-size: 14px;
}

.current-page {
    color: #2ecc71;
}

.current-date {
    color: #889495;
    font-size: 14px;
    margin-right: 20px;
}

.date-calendar {
    float: right;
}

.clear {
    clear: both;
}

.current-date {
    display: inline;
    line-height: 35px;
    font-size: 14px;
    font-family: MyriadProRegular, sans-serif;
}

.data-container header {
    margin: 40px 0 15px 40px;
    border-bottom: 1px solid #ddd;
}

.data-container header h4 {
    font-size: 18px;
    border-bottom: 4px solid #2ecc71;
    font-family: MyriadProRegular, sans-serif;
    display: inline-block;
    padding: 15px 0;
    color: #34495e;
}

.intern {
    color: #33a3cc;
    font-weight: bold; 
}

.tutor {
    color: #33cc6d;
}

.company-name {
    color: #337e9c;
    font-weight: bold;
    font-size: 14px;
}


.company-smaller-font {
    font-size: 12px;
}

.table-container {
    background-color: #fff;
    padding: 30px 30px 55px 30px;
    border: 1px solid #dddddd;
    border-bottom: 4px solid #dddddd;
    margin-top: 15px;
    margin-bottom: 40px;
}

.table-name {
    width: 240px;
    min-width: 240px;
    vertical-align: middle;
    font-size: 18px;
    color: #7f8c8d;
    font-family: RobotoMedium,sans-serif;
}

.table-container table th.table-date {
    font-size: 16px;
}

.table-date {
    width: 148px;
    min-width: 148px;
    vertical-align: middle;
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
}

.table-data {
    width: 100%;
    vertical-align: middle;
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
    position: relative;
}

span.plus {
    font-family: Tahoma, sans-serif;
    font-size: 19px;
    position: absolute;
    right: 0;
    top: 65%;
}

table td, th {
    border: 1px solid #dddddd;
    vertical-align: middle;
}

table tr  {
    font-size: 18px;
    color: #95a5a6;
    font-family: MyriadProRegular, sans-serif;
}

table td  {
    color: #7f8c8d;

}

table td:first-child, table th:first-child {
    border-left: none;
    padding-left: 0;
}

table td:last-child, table th:last-child {
    border-right: none;
}

.upcoming-events-table td, .upcoming-events-table th {
    padding: 15px;
}

.material-icons, .fa-home {
    border: 3px solid #95a5a6;
    padding: 5px;
    border-radius: 50px;
    color: #95a5a6;
    font-size: 20px;
    float: left;
    margin-right: 30px;
}

.walk-icon, .fa-key {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}

.bottom-button, .profile-form input[type="submit"], .cancel-manage-user {
    padding: 18px 35px;
    background-color: #2ecc71;
    float: right;
    margin-top: 15px;
    border: none;
    border-bottom: 4px solid #198045;
    color: #fff !important;
    font-family: MyriadProRegular, sans-serif;
    z-index: 999999;
    cursor: pointer;
}

.bottom-button:focus {
    outline: none;
    border: none;
    border-bottom: 4px solid #198045;
}

.fa-caret-down {
    float: right;
    position: absolute;
    right: 5px;
}

.upper-caret {
    top: 20px;
}

.bottom-caret {
    top: 11px;
}

.fa-caret-up {
    float: right;
    position: absolute;
    right: 5px;
}
.bottom-button > .fa-caret-down {
    color: #fff;
    float: none;
    margin-left: 5px;
    position: relative;
}

.table-container a:hover, .table-container a:visited, .table-container a:focus {
    text-decoration: none;
}

span.employee {
    color: #b677dd;
}

span.cofounder {
    color: #eb6226;
}

.upcoming-events-table span.intern {
    font-weight: normal;
}

span.table-work-status {
    font-size: 12px;
    font-family: RobotoBold, sans-serif;
}

.date-calendar .fa-calendar {
    color: #2ecc71;
    padding: 8px 14px;
    background-color: #ecf0f1;
    cursor: pointer;
}

.fa-bars {
    display: none;
}


.ui-datepicker {
	width: 237px;
	height: 257px;
    margin-top: 30px;
    margin-right: 15px;
    background-color: #ffffff;
    border: 1px solid #dee1e2;
    border-bottom: 4px solid #dee1e2;
}

.ui-datepicker a {
	text-decoration: none;
}

.ui-datepicker-calendar {

    margin: 25px auto !important;

}
.ui-datepicker-year{
    display:none;
}

.ui-datepicker table {
	width: 180px;
    margin-bottom: 0;
}

.ui-datepicker table td a, .ui-datepicker table tr {
    text-align: center;
    font-size: 14px;
    font-family: RobotoMedium, sans-serif;
}

.ui-datepicker-header {
    background-color: white;
	font-weight: bold;
	line-height: 30px;
    border-bottom: 1px solid #ddd;
}

.ui-datepicker-today > a {
    background-color: #95a5a6;
    color: #fff;
}

.ui-datepicker-current-day > a {
    border: 1px solid #4e4e4e;
}

.ui-datepicker-title {
	text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
    cursor: pointer;
    text-align: center;
}

.ui-datepicker-prev {
    margin-left: 15px;
}

.ui-datepicker-next {
    margin-right: 15px;
}

.ui-datepicker-prev:before {
    font-family: FontAwesome;
    content: "\f0d9";
    color: #95a5a6;
}

.ui-datepicker-next:after {
    font-family: FontAwesome;
    content: "\f0da";
    color: #95a5a6;
}

.ui-state-default {
    font-family: RobotoMedium, sans-serif;
    color: #7f8c8d;
    font-size: 14px;
}

.ui-datepicker-other-month > span {
    color: #dce4e5;
}

.personal-informations {
    width: 500px;
    display: inline-block;
}


.personal-informations a {
    display: block;
    margin-left: 143px;
}

.img-container {
    float: right;
}

.img-container a, .personal-informations a {
    display: block;
    color: #2ecc71;
    font-family: RobotoLight, sans-serif;
    font-size: 14px;
    width: 130px;
}


.img-container img {
    display: block;
    margin: 0 auto;
    width: 150px;
    border: 3px solid #2ecc71;
    margin-bottom: 15px;
}

.personal-informations label {
    display: inline-block;
    width: 130px;
    text-align: right;
    color: #7f8c8d;
    margin-bottom: 20px;
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
}

.personal-informations input, .personal-subcontainer input {
    display: inline-block;
    width: 320px;
    border: none;
    padding: 5px 30px 5px 10px;
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
    color: #7f8c8d;
}


.personal-informations input:focus, .personal-subcontainer input:focus {
    background-color: #ecf0f1;
    background-image: url("../Images/Pencil.png");
    background-repeat: no-repeat;
    background-position: right 10px top 7px;
    
    outline: 0;
}

.children-table input:focus, .teams-table input:focus {
    background-position: right 10px top 24px;
}

.children-table tr {
    text-align: left;
}

i.birth-date {
    padding: 0;
    color: #7f8c8d;
    margin-left: 10px;
}

input#birth, input#work-start-date {
    width: 100px;
    padding-right: 0;
}

input#birth:focus, input#work-start-date {
    background-image: none;
}

.personal {
    width: 100%;
    padding: 0;
}

.personal-subcontainer {
    padding: 0 30px 55px 30px;
}

.children-table {
    vertical-align: middle;
}

.children-table th {
    padding: 15px 10px !important;
    position: relative;
}



.children-table input {
    width: 100%;
    padding: 20px 10px;
}



td.children-name {
    width: 260px;
}

td.children-name input {
    width: 240px;
}

td.children-birthday input {
    width: 140px;
}

td.children-number {
    min-width: 254px;
    text-align: center;
    font-size: 36px;
}

.teams-table {
    width: 685px;
}

.myLeavesTable {
    width: 100%;
}

.teams-number, .myLeavesTable th.number {
    text-align: center;
    width: 63px;
    height: 63px;
    padding-right: 8px;
    position: relative;
}

.teams-table th.teams-number {
    padding: 0 20px;
}

th.teams-name {
    padding: 0 15px;
    position: relative;
    text-align: left;
}

.teams-name {
    width: 600px;
}

.teams-name input {
    padding: 22px 10px;
    width: 600px;
}

.profile-form {
    width: 745px;
    padding-bottom: 50px;
}

.profile-form input[type="submit"] {
    display: block;
    float: none;
    outline: none;
    margin: 0 auto;
    font-size: 14px;
    padding: 23px 28px;
}

.table-container h3 {
    font-size: 16px;
    font-family: RobotoMedium, sans-serif;
    color: #95a5a6;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;;
    padding: 15px 25px;
}


.ui-dialog-titlebar-close {
    display: none;
}

.ui-dialog {
    background-color: #fff;
    color: #95a5a6;
    width: 405px !important;

    overflow: visible;
}

.ui-dialog .ui-dialog-title {
    font-family: RobotoMedium, sans-serif;
    font-size: 16px;
}

.ui-dialog  > .ui-dialog-titlebar {
    padding: 18px 13px;
    border-bottom: 1px solid #dddddd;
}

.ui-dialog .ui-dialog-content {
    overflow: visible;
    padding-bottom: 50px;
}

.ui-dialog-content form fieldset label {
    font-size: 14px;
    font-family: RobotoMedium, sans-serif;
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.ui-datepicker th {
    font-weight: normal;
    color: #889495;
}

.ui-datepicker-month {
    font-size: 16px;
    font-family: RobotoMedium, sans-serif;
    font-weight: normal;
    color: #34495e;
}

.ui-dialog-content form fieldset .ui-widget-content, .ui-dialog-content form fieldset select  {
    width: 164px;
    height: 31px;
    font-size: 14px;
    font-family: RobotMedium, sans-serif;
}

.ui-dialog-content form fieldset > textarea {
    width: 100%;
    height: 100px;
    resize: none;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: RobotMedium, sans-serif;
}

.ui-dialog-content form fieldset select {
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    font-family: RobotoMedium, sans-serif;
    color: #7f8c8d;
}

.ui-widget-overlay.custom-overlay
{
    background-color: #4e4e4e;
    background-image: none;
    opacity: 0.5;
    
}

.left-content {
    float: left;
    margin-bottom: 10px;

}

.right-content {
    float: right;
}

.myLeavesTable, .myLeavesTable th, .myLeavesTable td {
    text-align: left;
    padding: 0;
    padding-left: 15px;
    height: 61px;
}

.myLeavesTable .number {
    text-align: center;
}

th.number > span.fa-caret-down {
    color: #7f8c8d;
   
}

.myLeavesTable th.start-date, td.start-date {
    width: 137px;
}

th.end-date, td.end-date, th.status, td.status {
    width: 130px;
}

th.status, td.status {
    width: 182px;
}

.myLeavesTable span {
    font-size: 14px;
    font-family: RobotoMedium, sans-serif;
}

span.approved {
    color: #2ecc71;
}

span.pending {
    color: #7f8c8d;
}

span.dennied {
    color: #eb6226;
}

.update {
    width: 133px;
}

span.update-status {
    color: #33a3cc;
    text-decoration: underline;
    cursor: pointer;
}

.myleavesContainer {
    width: 683px;
}



.select-employee-list {
    margin-top: -25px;
}

.myleaves {
    padding-top: 30px;
}

.login-form-container {
    background-color: #fff;
    width: 358px;
    height: 241px;
    display: block;
    margin: 0 auto;
    padding: 36px;
}

.login-logo-container {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    margin-bottom: 30px;
}

.login-form-container .input-container {
    text-align: center;
    margin-bottom: 23px;
    display: inline-block;
}

.input-container span {
    color: #95a5a6;
    float: left;
    border: 1px solid #95a5a6;
    width: 43px;
    height: 45px;
    border-right: none;
    line-height: 43px;
}

span.fa-key {
    border: 1px solid #95a5a6;
    border-left: none;
}

.login-form-container .input-container input {
    width: 300px;
    height: 41px;
    font-family: RobotoMedium, sans-serif;
    font-size: 14px;
    padding-left: 10px;
    float: left;
}

.login-form-container label {
    color: #95a5a6;
}

.login-form-container input[type="submit"] {
    display: block;
    float: none;
    width: 100%;
    margin-top: 30px;
}

.login-container {
    height: 430px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -285px;
    margin-left: -202px;
}

.error {
    background-color: #eb6226;
    float: none;
    display: block;
    margin: 0 auto;
    border-bottom: 4px solid #943f19;
    width: 290px;
    font-size: 14px;
    font-family: RobotoMedium, sans-serif;
    cursor: default;
}

.error p {
    text-align: center;
}

.login-form-container a {
    float: right;
    color: #95a5a6;
}

.ui-dialog-content form fieldset > .password-change-input {
    width: 270px;
    top: 250px;
}

.pass-secure {
    display: none;
    margin-left: 20px;
}

.password-secure-weak {
    color: #eb6226;
}

.password-secure-medium {
    color: #e6cf0c;
}

.password-secure-strong {
    color: #2ecc71;
}

.diagram-submit {
    position: absolute;
    top: 350px;
    right: 10px;
}

.cancel-button {
    position: absolute;
    right: 140px;
    top: 350px;
}

.cancel-password-change {
    top: 235px;
    right: 140px;
}

.submit-pass-change {
    position: absolute;
    top: 235px;
    right: 15px;
}

.accordion table {
    width: 100%;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
    height: auto;
}

.member-name {
    width: 100%;
}

.ui-accordion .ui-accordion-header {
    padding: 10px 5px;
}
.accordion-content {
    float: left;
    margin-left: 10px;
    width: 70%;
}

.accordion-right-content {
    float: right;
    margin-top: 14px;
    color: #acb9ba;
    font-family: RobotoMedium, sans-serif;
    font-size: 12px;
    margin-right: 20px;
}

.accordion-row {
    display: inline-block;
    width: 100%;
    padding: 17px 0;
}

.accordion-row:hover{
    background-color: #ecf0f1;
}


.ui-icon.iconOpen {
    background: url("../images/minus.png");
    width:20px;
    height:20px;
}

.ui-icon.iconClosed {
    background: url("../images/plus.png");
    width:20px;
    height:20px;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: 95%;
}

.all-leaves-container {
    height: 600px;
    position: relative;
}

.datepicker-all-leaves .ui-datepicker-inline {
    width: 100%;
    height: 510px;
    border: none;
}

.datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar {
    width: 100%;
    height: 460px;
}

.datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar td, .datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar th {
    border:1px solid #dddddd;
} 

.datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar th {
    font-size: 16px;
    font-family: RobotoMedium, sans-serif;
    padding: 20px 0;
    text-align: left;
    padding-left: 15px;
}

.datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar td {
    width: 141px;
    padding: 0;
    height: 61px;
}

.datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar td a {
    font-size: 18px;
    font-family: RobotoBold, sans-serif;
    line-height: 55px;
    text-align: left;
    padding-left: 20px;
    height: 100%;
}

.datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar .ui-datepicker-other-month > span {
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
}

.datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar td a.ui-state-highlight {
    border: 1px solid #2ecc71;
    background-color: transparent; 
    color: #2ecc71;
}



.datepicker-all-leaves .ui-datepicker-header .ui-datepicker-prev {
    left: 35%;
}

.datepicker-all-leaves .ui-datepicker-header .ui-datepicker-next {
    right: 35%;
}

.datepicker-all-leaves .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month {
    font-size: 18px;
    font-family: RobotoMedium, sans-serif;
}


.datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar td:first-child, .datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar th:first-child {
    border-left: none;
}

.datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar td:last-child, .datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar th:last-child {
    border-right: none;
}

.selector-container {
    width: 283px;
    height: 31px;
    float: right;
    border: 1px solid #95a5a6;
    cursor: pointer;
}

.selector-container > p {
    position: relative;
    line-height: 31px;
    padding-left: 15px;
    font-size: 12px;
    font-family: RobotoMedium, sans-serif;
    color: #889495;
}

.selector-container p > span.fa-caret-down {
    top: 10px;
}

.employee-select-container {
    border: 1px solid #95a5a6;
    border-top: none;
    position: absolute;
    height: 362px;
    width: 283px;
    right: 30px;
    top: 63px;
    z-index: 99;
    display: none;
    background-color: #fff;
}

.employee-select {
    display: block;
}

.employee {
    padding: 13px 0;
}

.employee input {
    display: block;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
}

.employee label {
    display: inline-block;
    width: 80%;
    margin-left: 10px;
    cursor: pointer;
}

.left-checkbox-container {
    float: left;
    height: 55px;
}

.left-checkbox-container label {
    line-height: 40px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 12px;
    font-family: RobotoMedium, sans-serif;
    color: #889495;
}

.all-leaves-header {
    height: 55px;
    border-bottom: 1px solid #ddd;
}


input[type=checkbox]{ display: none;}
input[type=checkbox] + label:before {
      font-family: FontAwesome;
      display: inline-block;
      font-size: 20px;
      color: #7f8c8d;
      vertical-align: middle;
}
input[type=checkbox] + label:before { content: "\f096"; } 
input[type=checkbox] + label:before { letter-spacing: 10px; } 

input[type=checkbox]:checked + label:before { content: "\f046"; } 
input[type=checkbox]:checked + label:before { letter-spacing: 7px; } 



.employee > input[type=checkbox] { display: none; }
.employee > input[type=checkbox] + label:before {
      font-family: FontAwesome;
      display: inline-block;
      font-size: 20px;
      color: #7f8c8d;
      vertical-align: middle;
      float: left;
      margin-top: 5px;
}
.employee > input[type=checkbox] + label:before { content: "\f096"; } 
.employee > input[type=checkbox] + label:before { letter-spacing: 10px; } 

.employee > input[type=checkbox]:checked + label:before { content: "\f046"; } 
.employee > input[type=checkbox]:checked + label:before { letter-spacing: 7px; } 



.mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #ecf0f1;
    width: 12px;
    border-radius: 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
    display: none;
}

.datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-header {
    border: none;
}

.edit-leaves-container {
    width: 100%;
}


.manage-user-container input[type="submit"] {
    width: 150px;
    display: block;
    float: right;
}

.cancel-manage-user {
    float: right;
    margin-top: 0;
    height: 27px;
    margin-right: 20px;
    line-height: 27px;
    width: 60px;
    text-align: center;
}

.children-form-content > label {
    display: inline-block;
}

.children-form-content > input {
    display: inline-block;
    width: 120px;

}

.remove-button {
    display: inline-block;
    margin-right: 20px;
    width: 50px;
    padding: 0;
    background-color: #eb6226;
    border-bottom: 4px solid #984e34;
    margin-top: 0;
}

.remove-button:focus {
    border-bottom: 4px solid #984e34;
}

.children-form-content input:focus, .teams-content input:focus {
    background-image:none;
}

.children-form-content .children-birthday {
    width: 90px;
    padding: 0;
    background-image: none;
}

.manage-user-container form  .teams-content .add-team-button {
    width: 50px;
    padding: 0;
}

.manage-user-container form  .teams-content .add-team-button:focus, .manage-user-container form .children-container .children-form-content .add-child-button:focus {
    background-image: none;
    background-color: #2ecc71;
}


.manage-user-container form .children-container .children-form-content .add-child-button {
    width: 50px;
    padding: 0;
}


.management-nav ul {
    margin-left: 10px;
    margin-top: 20px;
}

.management-nav ul li a span {
    margin-right: 10px;
}

.management-nav ul li {
    display: inline-block;
}

.management-nav ul li a.active {
     color: #2ecc71;
}

.management-nav ul li a:hover {
    color: #2ecc71;
}

.management-nav ul li a:hover > .material-icons, .active > .material-icons  {
    color: #2ecc71;
    border: 3px solid #2ecc71;
}

.management-nav ul li a:hover > span.fa-home, .active > span.fa-home  {
    color: #2ecc71;
    border: 3px solid #2ecc71;
}

.holiday-name {
    width: 100%;
    height: 31px;
    font-size: 14px;
    font-family: RobotMedium, sans-serif;
    margin-bottom: 15px;
}

.add-holiday-dialog input[type="submit"], .add-holiday-dialog a {
    top: auto;
}

.manage-teams-header-btn {
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-family: RobotoMedium, sans-serif;
    float: right;
    cursor: pointer;
}

.green-btn {
    color: #2ecc71;
}

.red-btn {
    color: #eb6226;
}

.manage-teams-accordion .ui-icon.iconOpen {
    background-image: none;
    width:20px;
    height:20px;
}

.manage-teams-accordion .ui-icon.iconClosed {
    background-image: none;
    width:20px;
    height:20px;
}

.AddMemberContainer {
    height: 320px;
}

.add-new-member-dialog .bottom-button {
    font-size: 14px;
}

.cancel-add-member {
    height: 17px;
    margin-right: 55px;
}

td.comment {
    font-size: 12px;
}

.cancel > button {
    background: none;
    border: none;
    cursor: pointer;
    color: #eb6226;
    font-family: RobotoBold, sans-serif;
}

.header-content {
    width: 680px;
}

.header-content > button {
    color: #2ecc71;
    float: right;
    background-color: #fff;
    margin-top: 15px;
    height: 25px;
    width: 120px;
    cursor: pointer;
    border: 1px solid #2ecc71;
}

.header-content > button:focus {
    outline: none;
}

@media only screen and (max-width: 1092px) {



    .header-content {
        width: 100%;
    }

    .myLeavesTable, .myLeavesTable th, .myLeavesTable td  {
       text-align: center;
    }

    .edit-leaves-container .table-container .myLeavesTable th {
        font-size: 14px;
    }



    .edit-leaves-container .table-container .myLeavesTable td {
        font-size: 12px;
        padding: 0;
    }

    .myLeavesTable td.comment {
        width: auto;
        min-width: 50px;
    }


    .edit-leaves-container .table-container .myLeavesTable td > span {
        font-size: 12px;
    }

    .data-container header {
        margin-left: 5px;
    }

    .comment {
        width: 100%;
    }

    .management-nav ul li a {
        padding-left: 0;
        margin-right: 20px;
    }

    .management-nav ul li a span {
        margin-right: auto;
    }


    .member-name {
        width: 100% !important;
    }

    .all-leaves-header {
        overflow: hidden;
        padding-left: 20px;
    }

    .datepicker-all-leaves {
        overflow: hidden;
    }

    .upcoming-events-table {
        width: 100%;
    }

    .table-name {
        width: 20%;
        min-width: auto;
    }
    .table-date {
        width: 15%;
        min-width: auto; 
    }
    .table-data {
        width: 65%;
        min-width: auto;
    }
    .personal {
        width: 100%;
    }

    .logo-container {
        width: 120px;
    }

    .navigation, .nav-container {
        width: 120px;  
    }

    .navigation ul li a {
        padding-left: 5px;
        display: block;
        text-align: center;
    }

    .material-icons, .fa-home {
        float: none;
        display: block;
        margin: 0 auto;
        width: 20px;
    }

    .employee-select {
        width: 100%;
        min-width: 250px;
    }
}

@media only screen and (max-width: 650px) {

    .manage-teams-accordion h3 {
        height: 60px;
    }

    .manage-teams-accordion .red-btn {
        position: absolute;
        right: 5px;
        top: 50px;

    }

    .manage-teams-header-btn {
        font-size: 12px;
    }

    .manageTeamsContainer > .table-container {
        padding: 5px;
    }

   

    .management-nav ul li a {
        padding-right: 0;
    }
} 

@media only screen and (max-width: 962px) {

    .st-head-row {
        background-color: rgba(46, 204, 113, 0.1);
    }

    .personal-informations input:focus, .personal-subcontainer input:focus {
        background-image: none;
    }

    .all-leaves-header {
        overflow: hidden;
        padding-left: 20px;
    }

    .left-checkbox-container {
        display: block;
        float: none;
        width: 100%;
    }
    .selector-container {
        float: none;
        top: 30px;
    }

    .datepicker-all-leaves .ui-datepicker-inline {
        width: 100%;
        height: 510px;
        border: none;
    }

    .datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar {
        width: 100%;
        height: 460px;
    }
    .all-leaves-container {
        padding: 0; 
        height: 720px;
    }

    .datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar th {
        font-family: RobotoMedium, sans-serif;
        padding: 20px 0;
        text-align: center;
    }

    .datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar td {
        width: 100px;
        padding: 0;
        height: 61px;
    }

    .datepicker-all-leaves .ui-datepicker-header .ui-datepicker-prev {
        left: 0;
    }

    .datepicker-all-leaves .ui-datepicker-header .ui-datepicker-next {
        right: 0;
    }

    .all-leaves-header {
        height: 120px;
    }

    .main-content {
        padding: 0 5px;
    }
    .profile-form {
        width: 100%;
    }

    .img-container {
        float: none;
    }

    .img-container a, .personal-informations a {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;
    }


    .personal-informations {
        width: 100%;
        text-align: center;
    }

    .personal-subcontainer {
        padding: 0;
    }

    .children-table {
        width: 100%;
    }

    .children-name {
        width: 60%;
        overflow: hidden;
    }

    .personal-informations input, .personal-subcontainer input, input#birth {
        background-color: #f3faea;
        width: 40%;
    }

    td.children-name input {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    td.children-birthday input {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .children-birthday {
        width: 35%;
        min-width: auto;
    }

    td.children-number {
        width: 5%;
        min-width: 50px;
    }

    .teams-table {
        width: 100%;
    }

    .teams-name {
        width: 100%;
        overflow: hidden;
    }

    .teams-name input {
        width: 100%;
    }

     .employee-select-container {
        left: 20px;
        top: auto;
    }
}

@media only screen and (max-width: 524px) {
    
    .logout {
        float: right;
    }

    .all-leaves-header {
        height: 160px;
    }


    .selector-container {
        margin-top: 40px;
    }

    .left-checkbox-container label {
        display: block;
        width: 100%;
    }



    .datepicker-all-leaves .ui-datepicker-inline {
        margin: 0 auto;
    }

    .datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar td {
        padding: 0;
        min-width: 0;
        width: 30px;
    }


    .datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar td a {
        font-size: 15px;
        min-width: 0;
        padding-left: 0;
        text-align: center;
    }


    .datepicker-all-leaves .ui-datepicker-inline .ui-datepicker-calendar th {
        font-size: 11px;
        width: 30px;
        min-width: 10px;
    }

    .data-container header {
        margin: 0;
        margin-left: 15px;
        border-bottom: 1px solid #ddd;
    }

    .login-container {
        overflow: hidden;
    }

    .login-logo-container img {
        float: none !important;
    }
 
    .error {      
       width: 65%;
    }

    .login-subcontainer {
        padding: 50px 0;
        margin: 0 auto;
        display: block;
        width: 80%;
    }

    .input-container span {
        display: inline-block;
    }

    .login-form-container .input-container input {    
        display: inline-block;
        margin-left: -5px;
        width: 80%;  
    }

    .input-container {
        width: 100%;
    }

    .login-form-container {
        display: block;
        width: 100%;
        height: 320px;
    }

    .login-container {
        position: relative;
        margin: 0 auto;
        top: 0;
        left: 0;    
    }



    .myLeavesTable th.start-date, td.start-date, .myLeavesTable th.end-date, td.end-date, .myLeavesTable th.status, td.status,  .myLeavesTable th.update, td.update  {
        padding: 0;
        font-size: 15px;
        text-align: center;
    }

    .table-container {
        padding:0;
    }

    .upcoming-events-table td, .upcoming-events-table th {
        padding: 10px 5px !important;
    }
   

    .user-container {
        margin-top: 100px;
        padding-bottom: 20px;
    }

    .user-content {
        margin-left: 15px;

    }

    .user-info {
        margin-left: 0;
    }

    .logout {
        display: block;
        margin-right: 0;
        line-height: 0px;
    }

    .breadcrumbs {
        width: 100%;
        height: 70px;
    }

    .user-container {
        overflow: visible;
    }


    .app-name {
        margin-left: 15px;

    }

    .date-calendar {
        float: right;
        margin-left: 15px;
    }

    .fa-bars {
        display: block;
        float: right;
        font-size: 31px;
        color: #fff;
        margin-right: 15px;
        margin-top: 20px;
        cursor: pointer;
        padding: 1px 5px;
        border-radius: 5px;
        border: 3px solid #fff;
    }

    .nav-container {
        display: block;
        width: 100%;
        height: 80px;
        margin-top: 0;
        position: fixed;
        z-index: 99999;
    }

    .logo-container {
        width: 100%;
        height: 80px;
        
    }
    .logo-container img {
        vertical-align: baseline;
        margin-left: 15px;
        margin-top: 15px;
        float: left;
    }

    .navigation  {
        width: 100%;
        margin-top: -500px;
        background-color: #34495e;

    }

    .margin-responsive-nav {
        margin-top: 0;
    }

    .navigation ul li a {
        text-align: left;
    }

    .material-icons, .fa-home {
        display: inline-block;
        margin-right: 50px;
        margin-left: 15px;
    }


}


@media only screen and (max-width: 350px){

    .breadcrumbs {
        overflow: hidden;
    }

    .date-calendar {
        width: 100%;
        float: none;
    }

    .app-name {
        display: block;
        width: 100%;
        float: none;
    }

    .all-leaves-header {
        padding-left: 10px;
    }
 
    .employee-select-container {
        width: 270px;
        left: 10px;
    }

    .selector-container {
        width: 270px;
    }

    .login-subcontainer {
        width: 90%;
    }

    .datepicker-all-leaves .ui-datepicker-inline {
        width: 100%;
        margin: 0;
}
}   
