
@{
    ViewBag.Title = "Registracija";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-4 col-md-4 col-sm-5 col-xs-6 formaRegistracija skloniMarginuZaRegistraciju">
    <div class=" ">
        <style>
            .center-page {
                margin-top: 120px;
            }
        </style>

        <label>Ime</label>
        <input type="text" id="ime" class="form-control" placeholder="Ime" />
        <label>Prezime</label>
        <input type="text" id="prezime" class="form-control" placeholder="Prezime" />
        <label>Broj indeksa</label>
        <input type="number" id="prezime" class="form-control" placeholder="Prezime" />
        <label>Korisničko ime</label>
        <input type="text" id="korisnickoIme" class="form-control" placeholder="Korisničko ime" />
        <label>Lozinka</label>
        <input type="password" id="lozinka" class="form-control" placeholder="Lozinka" />
        <label>Potvrdi lozinku</label>
        <input type="password" id="potvrdaLozinke" class="form-control" placeholder="Lozinka" />
        <label>E-mail adresa</label>
        <input type="text" id="email" class="form-control" placeholder="Adresa e-pošte" />
        <span>
            <button id="registrujSe" class="btn btn-success space-vert">Registruj se</button>
        </span>
    </div>

</div>

