@{
    ViewBag.Title = "About";
}



<div class="container">
       
    <div class="jumbotron">

        <h1 id="heder1">O autorima</h1>
        <p align="justify" id="paragrafAbout">Autori ovog portala su Nikola Ranković, Predrag Nikolić, Marko Radosavljević i Miloš Mladenović
           , studenti 3. godine smera za Računarstvo i informatiku na Elektronskom fakultetu u Nišu. Portal
           je nastao kao deo projekta iz predmeta Softversko inženjerstvo. Namenjen je prvenstveno studentima Elektronskog 
           fakulteta, kao mesto gde mogu da razmenjuju materijale, pitanja, odgovore i savete vezane za predmete koji se izučavaju
           na našem fakultetu.
        
           Za sva pitanja, sugestije, nedoumice ili probleme, javite se mejlom na jednu od naših adresa:
            <br />
            <ul>
                <li><a href="mailto:milosml@elfak.rs?Subject=Hello%20again" target="_top">milosml@elfak.rs</a></li>
                <li><a href="mailto:marko.radosavljevic@elfak.rs?Subject=Hello%20again" target="_top">marko.radosavljevic@elfak.rs</a></li>
                <li><a href="mailto:nikolarankovic@elfak.rs?Subject=Hello%20again" target="_top">nikolarankovic@elfak.rs</a></li>
            </ul>
           
       
       </p>


    </div>
</div>