@{
    ViewBag.Title = "Contact";
    ViewBag.Kontakt = "Kontakt";
}
<h2>Kontakt informacije</h2>

<address>
    Paviljon 4, Gradsko polje bb<br />
    Niš, Srbija, 98052-6399<br />
    <abbr title="Telefon">Br.telefona:</abbr>
    0645591864
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@adiutor.rs">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@adiutor.rs">Marketing@example.com</a>
</address>