<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase.Properties.Settings.ING_softwareConnectionString"
            connectionString="Data Source=NEVENA-PC;Initial Catalog=&quot;ING software&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataBase.Properties.Settings.ING_softwareConnectionString1"
            connectionString="Data Source=ALEXPC;Initial Catalog=&quot;ING software&quot;;Integrated Security=True;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>